<!--FORM TO EDIT QUESTION AND QUESTION DETAILS  -->
<p>
  <%= form_for [@question], validate: true, remote: true do |f| %>
     <div class="form-group"><strong>
        <%= f.text_field :name, class: 'form-control' %>
     </strong>
     </div>
     <div class="form-group">
        <%= f.text_area :description, rows: 10, class: 'form-control', placeholder: "Add Detail" %>
     </div>

      <div class="form-group">
        <%= f.label :topic_tokens, "Add Tags to your Question", class: 'pull-left' %>
        <%= f.text_field :topic_tokens, data: {load: @question.topics}, class: 'form-control', placeholder: "Add Topics to your question" %>
      </div>
      
      <div class="form-group pull-right">
        <%= f.submit "Update", class: 'btn btn-primary' %>
      </div><br>
  <% end %>
</p><br/>