<%= form_for(@question), validate: true do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h4>
      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_group_tag(@question.errors[:name]) do %>
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control', placeholder: "Enter Question"%>
  <% end %>


  <div class="form-group">
    <%= f.label :topic_tokens, "Add Tags", class: 'pull-left' %>
    <%= f.text_field :topic_tokens,  data: {load: @question.topics} %>
  </div>


  <%= form_group_tag(@question.errors[:description]) do %>
    <%= f.label :description %><br>
    <%= f.text_field :description, class: 'form-control'%>
  <% end %>

  <div class="form-group">
    <%= f.submit "Update", class: 'btn btn-primary' %>
  </div>

<% end %>
