<%= content_tag :div, class: 'media each-question', id: "questions-#{question.id}" do %>
   <!-- FOLLOW QUESTION BUTTON -->
       <!--ADD FOLLOW HERE LATER -->
        <div class="media-body">
        <!-- QUESTION FOLLOW -->
       <% if policy(question).create? %>
        <span id="js-follow">
            <%= render partial: 'follow_questions/follow_questions', locals: { question: question } %>
         </span>
        <% end %>
          <div class="question-added-section">
          <!--QUESTION ADDED TO WHAT TOPIC? -->
            <% if question.topics.present? %>
            Question added to topic <%= link_to question.topics.first.name, topic_path(question.topics.first),  class: "label label-default" %> &bull; <%= link_to "#{time_ago_in_words(question.created_at)} ago", question_path(question) %> 
            <% end %>
            <!--DELETE BUTTON-->
            <% if policy(question).destroy? %>
              &bull; <%= link_to "Delete", question_path(question), method: :delete, remote: true, class: 'label label-danger' %>
            <% end %>

          </div>
           <!-- QUESTION TITLE + LINK -->
          <h4 class="media-heading question-title-space">
            <strong><%= link_to question.name,  question_path(question) %></strong>
          </h4>
          <!-- QUESTION BODY -->

          <%= question.description if question.description? %>
          <!-- ANSWER FORM -->
          <%= content_tag :div, id: "js-question-answer-#{question.id}" do %>
              <button type="button" class="btn btn-green answer-btn" data-toggle="collapse" data-target="#js-button-answer-<%= question.id %>">
                  Click to Answer
              </button>

              <div id="js-button-answer-<%=question.id %>" class="collapse">
               <div class="user-answer-form">
                 <%= render partial: 'answers/question_answers_form', locals: { question: question, answer: @new_answer} %>
               </div>
              </div>
          <% end %>

          <!--LINKS: FOLLOW/ ANSWER COUNT / SHARE-->
          <div class="answer-links">
            <h5>
              <%= link_to "Follow", '#' %> &bull;
              <%= link_to "#{question.answers.count} Answers" , question_path(question, anchor: 'js-answers'), id: "js-answers-count-#{question.id}" %> &bull;
              <%= link_to "Share", '#' %>
            </h5>
          </div>     
        </div>
  <% end %>