<!-- add remote: true to enable Ajax on the form -->
<%= form_for [question] do |f| %>
 <% if question.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h4>
      <ul>
      <% question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <%= form_group_question(question.errors[:name]) do %>
    <%= f.text_area :name, rows: 1, cols: 40, class: 'form-control', placeholder: "What is your question about #{topic.name.capitalize}?" %>
  <% end %>

  <%= hidden_field_tag "topic_id", topic.id %>
 
  <div class="form-group">
    <%= f.submit "Ask Question", class: 'btn btn-success pull-right' %>
  </div>
<% end %>