
<!-- show the topics that the question belongs to -->
<div class="row">
  <div class="col-md-7">
    <% @question.topics.each do |topic| %>
     <%= link_to topic.name, topic_path(topic), class: 'label label-primary' %>

    <% end %>
    <!-- QUESTION TITLE & DETAILS-->
    <div>
      <% if policy(@question).edit? %>
        <span id="js-follow">
          <%= render partial: 'follow_questions/follow_questions', locals: { question: @question } %>
        </span>
      <% end %>

      <span id="js-edit-question">
      <%= render partial: 'questions/question_title', locals: { question: @question } %>
     </span>
    </div>
   
    <!-- ANSWER COUNT -->
    <div class="answers-lead">
      <span class="js-answers-count">
        <%= pluralize(@question.answers.count, 'Answer') %>
      </span>
       <!-- FOLLOW QUESTION TEXT -->
      <% if policy(@question).edit? %>
        <%= render partial: 'follow_questions/follow_questions_text', locals: { question: @question } %>
      <% end %>
    </div>

    <!-- ANSWER FORM -->
    <%= render partial: 'answers/answers_form', locals: { question: @question, answer: @answer } %>
   

    <!-- ANSWERS -->
      <div class="js-answers", id="js-answers">
          <%= render @answers %>
      </div>

      <div id="infinite-scrolling">
        <%= will_paginate @answers %>
      </div>
      
    </div>

  <!--Sidebar Column -->
  <div class="col-md-5">

    <!---RELATED QUESTIONS -->
    <div>
      <%= render partial: 'questions/related_questions', locals: { related_questions: @related_questions } %>
    </div>

    <div class="list-group">
      <a href="#" class="list-group-item active">
        Setup Your Account
      </a>
      <a href="#" class="list-group-item">Visit your feed</a>
      <a href="#" class="list-group-item">Follow more topics</a>
      <a href="#" class="list-group-item">Find your friends on Query</a>
      <a href="#" class="list-group-item">Upvote answers you like</a>
      <a href="#" class="list-group-item">Ask your first question</a>
      <a href="#" class="list-group-item">Add details about what you know</a>
      <a href="#" class="list-group-item">Answer a question</a>
    </div>
    
    <div class="list-group">
      <a href="#" class="list-group-item active">
        <h4 class="list-group-item-heading">Follow Question</h4>
        <p class="list-group-item-text">
          While not always necessary, sometimes you need to put your DOM in a box. For those situations, try the panel component.
        </p>
      </a>
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Share Question</h4>
        <p class="list-group-item-text">
          While not always necessary, sometimes you need to put your DOM in a box. For those situations, try the panel component.
        </p>
      </a>
    </div>
  </div>
</div>
