<%= form_for [@stack, @stack_supplement] do |f| %>
  <% if @stack_supplement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stack_supplement.errors.count, "error") %> prohibited this stack_supplement from being saved:</h2>

      <ul>
      <% @stack_supplement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :supplement_id %><br>
    <%= f.text_field :supplement_id %>
  </div>
  <div class="field">
    <%= f.label :frequency_id %><br>
    <%= f.text_field :frequency_id %>
  </div>
  <div class="field">
    <%= f.label :dose %><br>
    <%= f.text_field :dose %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
