<%= content_tag :tr, id: "js-stack-supplements-#{stack_supplement.id}" do %>
  <td>
    <a href="#" class="supplement-tip" data-toggle="tooltip" data-placement="right" title="<%=stack_supplement.supplement.tooltip %>">
      <%= stack_supplement.supplement.name %>
    </a>
  </td>

  <td>
    <a href="#" data-xeditable="true" data-pk="<%= stack_supplement.id %>" data-model="stack_supplement" data-name="dose" data-url="<%= stack_stack_supplement_path(@stack, stack_supplement) %>" data-title="Adjust your dosage">
      <%= stack_supplement.dose %>
    </a>
  </td>

  <td>
    <a href="#" data-xeditable="true" data-type="select" data-pk="<%= stack_supplement.id %>"data-model="stack_supplement" data-name="frequency_id" data-url="<%= stack_stack_supplement_path(@stack, stack_supplement) %>" data-title="Frequency" data-source="<%= Frequency.to_xeditable %>" data-value="<%= stack_supplement.frequency_id %>" >
      <%= stack_supplement.frequency.value %>
    </a>
  </td>
  <!--
  <td>
    <%= link_to 'Edit', edit_stack_stack_supplement_path(@stack, stack_supplement) %>
  </td>
 -->

  <td>
    <%= link_to " ", stack_stack_supplement_path(@stack, stack_supplement), method: :delete, class: 'glyphicon glyphicon-remove-circle', remote: true, data: { confirm: 'Are you sure?' }%>
  </td>
<% end %>

