 <h2><!-- <%= best_in_place @user, :name, :type => :input %> -->
    <%= link_to @user.name, user_path(@user), class: 'supplement-tip', data: { toggle: :tooltip, placement: :top}, title: 'View my public profile' %> 
    <span class="settings-cog"><%= link_to " ", edit_user_registration_path, class: 'glyphicon glyphicon-cog supplement-tip', data: { toggle: :tooltip, placement: :top, trigger: 'click hover'}, title: 'Settings' %>
    </span>
 </h2>
  <!--ACCORDIAN PANEL 1 - MY STACKS -->
  <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <%= render_arrow_collapse_for("#accordion", "#collapseMyStacks").html_safe %>
              My Stacks
               <%= link_to " ", stacks_path, class: 'glyphicon glyphicon-th-list supplement-tip pull-right', data: { toggle: :tooltip, placement: :left}, title: 'Manage Stacks' %>
          </h4>
        </div>
        <div id="collapseMyStacks" class="panel-collapse collapse in">
        <!--MY STACK MAIN BODY -->
          <div class="panel-body">
          <!-- Check to see if user has added any stacks -->
          <% unless @user.stacks.empty? %>
          <!-- NAVIGAION PILLS WITHIN MY STACK BODY -->
           <% @user.stacks.each do |stack| %>
             <ul class="nav nav-pills nav-stacked">
             <!-- check to see if the selected stack is the stack page the user is
                  currently on. If it is, then we want the tab to be active -->
              <% if stack == @stack  %>
               <!-- ACTIVE NAV PILL -->
                <li class="active">
                  <a href="#">
                  <!-- STACK SUPPLEMENT COUNT -->
                    <%= content_tag :span, class: "badge pull-right", id: "stack-count-#{stack.id}" do %>
                      <%= stack.supplements.count%>
                    <% end %>
                   <!-- STACK SUPPLEMENT NAME -->
                    <%= stack.name %>
                  </a>
                </li>     
              <% else %>
                <li>
                <!-- INACTIVE NAV PILL -->
                  <a href="<%="#{stack_stack_supplements_path(stack)}"%>">
                    <%= content_tag :span, class: "badge pull-right", id: "stack-count-#{stack.id}" do %>
                      <%= stack.supplements.count%>
                    <% end %>
                    <%= stack.name %>
                  </a>
                </li>
              <% end %>
             </ul>
            <% end %>
          <% end %> 
          <!-- MANAGE MY STACKS -->
            <div class="manage-stack-margin-space">
              <%= link_to "Manage my Stacks", stacks_path, class: 'btn btn-default btn-sm pull-right' %>
            </div> 
          </div>
        </div>
      </div>
      </div>
      <div class="panel-group" id="accordion3">
        <!--ACCORDIAN PANEL 2 - CREATE A NEW STACK -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <%= render_arrow_collapse_for("#accordion3", "#collapseNewStack").html_safe %>
                Create a New Stack
            </h4>
          </div>
          <div id="collapseNewStack" class="panel-collapse collapse in">
            <div class="panel-body create-new-stack-panel">
            <!-- NEW STACK FORM -->
             <div class="create-new-stack">
              <%= render partial: 'stack_supplements/stacks/form', locals: {stack: @new_stack} %>
             </div>
            </div>
          </div>
        </div>
      </div>
      <!--ACCORDIAN PANEL 2 - FOLLOWERS -->
      <div class="panel-group" id="accordionFollow">
        <!--ACCORDIAN PANEL 1 - FOLLOWERS-->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
               <%= render_arrow_collapse_for("#accordionFollow", "#collapseFollowStack").html_safe %>
                <span id="followers"><%= link_to "Followers (#{@user.followers.count})", followers_user_path(@user) %></span>
            </h4>
          </div>
          <div id="collapseFollowStack" class="panel-collapse collapse in">
            <div class="panel-body">
               <%= render partial: 'shared/followers', locals: { followers: @followers } %>
            </div>
          </div>
        </div>
      </div>

        <!--ACCORDIAN PANEL 2 - FOLLOWING -->
      <div class="panel-group" id="accordionFollowing">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <%= render_arrow_collapse_for("#accordionFollowing", "#collapseNewStack1").html_safe %>
                <span id="following"><%= link_to "Following (#{@user.followed_users.count})", following_user_path(@user) %></span>
            </h4>
          </div>
          <div id="collapseNewStack1" class="panel-collapse collapse in">
            <div class="panel-body">
              <%= render partial: 'shared/following', locals: { following: @following } %>
            </div>
          </div>
        </div>
      </div>