<div class="row">
  <!--*******************************-->
  <!-- USER MAIN SIDE PANEL/NAVIGATION-->
   <!--*******************************-->
  <div class="col-md-4">
 <h2><!-- <%= best_in_place @user, :name, :type => :input %> -->
    <%= link_to @user.name, user_path(@user), class: 'supplement-tip', data: { toggle: :tooltip, placement: :top}, title: 'View my public profile' %> 
    <span class="settings-cog"><%= link_to " ", edit_user_registration_path, class: 'glyphicon glyphicon-cog supplement-tip', data: { toggle: :tooltip, placement: :top, trigger: 'click hover'}, title: 'User Settings' %>
    </span>
 </h2>
  <!--ACCORDIAN PANEL 1 - MY STACKS -->
  <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <%= render_arrow_collapse_for("#accordion", "#collapseMyStacks").html_safe %>
              My Stacks
               <%= link_to " ", stacks_path, class: 'glyphicon glyphicon-th-list supplement-tip pull-right', data: { toggle: :tooltip, placement: :left}, title: 'Manage Stacks' %>
          </h4>
        </div>
        <div id="collapseMyStacks" class="panel-collapse collapse in">
        <!--MY STACK MAIN BODY -->
          <div class="panel-body">
          <!-- Check to see if user has added any stacks -->
          <% unless @user.stacks.empty? %>
          <!-- NAVIGAION PILLS WITHIN MY STACK BODY -->
           <% @user.stacks.each do |stack| %>
             <ul class="nav nav-pills nav-stacked">
             <!-- check to see if the selected stack is the stack page the user is
                  currently on. If it is, then we want the tab to be active -->
              <% if stack == @stack  %>
               <!-- ACTIVE NAV PILL -->
                <li class="active">
                  <a href="#">
                  <!-- STACK SUPPLEMENT COUNT -->
                    <%= content_tag :span, class: "badge pull-right", id: "stack-count-#{stack.id}" do %>
                      <%= stack.supplements.count%>
                    <% end %>
                   <!-- STACK SUPPLEMENT NAME -->
                    <%= stack.name %>
                  </a>
                </li>     
              <% else %>
                <li>
                <!-- INACTIVE NAV PILL -->
                  <a href="<%="#{stack_stack_supplements_path(stack)}"%>">
                    <%= content_tag :span, class: "badge pull-right", id: "stack-count-#{stack.id}" do %>
                      <%= stack.supplements.count%>
                    <% end %>
                    <%= stack.name %>
                  </a>
                </li>
              <% end %>
             </ul>
            <% end %>
          <% end %> 
          <!-- MANAGE MY STACKS -->
            <div class="manage-stack-margin-space">
              <%= link_to "Manage my Stacks", stacks_path, class: 'btn btn-default pull-right' %>
            </div> 
          </div>
        </div>
      </div>
      </div>
      <div class="panel-group" id="accordion#3">
        <!--ACCORDIAN PANEL 2 - CREATE A NEW STACK -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <%= render_arrow_collapse_for("#accordion3", "#collapseNewStack").html_safe %>
                Create a New Stack
            </h4>
          </div>
          <div id="collapseNewStack" class="panel-collapse collapse in">
            <div class="panel-body">
            <!-- NEW STACK FORM -->
             <div class="create-new-stack">
              <%= render partial: 'stack_supplements/stacks/form', locals: {stack: @new_stack} %>
             </div>
            </div>
          </div>
        </div>

        <!--ACCORDIAN PANEL 2 - FOLLOWERS -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
             <%= render_arrow_collapse_for("#accordion3", "#collapseNewStack").html_safe %>
                Followers
            </h4>
          </div>
          <div id="collapseNewStack" class="panel-collapse collapse">
            <div class="panel-body">
             <p>John</p>
            </div>
          </div>
        </div>
      </div>
   </div>

  <!--*******************************-->
  <!-- MAIN BODY/ RIGHT COLUMN-->
  <!--*******************************-->
  <div class="col-md-8">
    <!-- STACK_SUPPLEMENT FORM -->
    <%= render partial: 'stack_supplements/form', locals: {stack: @stack, stack_supplement: StackSupplement.new }%>

   

    <!--ACCORDIAN PANEL 1/MAIN BODY - DETAILS ABOUT STACK-->
    <div class="panel-group" id="accordion-top">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
          <%= render_arrow_collapse_for("#accordion-top", "#collapseTop").html_safe %>
             <%= @stack.name %>
             <% if @public %>
               <%= link_to " ", "#", class: 'glyphicon glyphicon-eye-open supplement-tip pull-right', data: { toggle: :tooltip, placement: :left}, title: 'Your stack is public' %>
             <% else %>
               <%= link_to " ", "#", class: 'glyphicon glyphicon-lock supplement-tip pull-right', data: { toggle: :tooltip, placement: :left}, title: 'Your stack is private' %>
             <% end %>
          </h4>
        </div>
        <div id="collapseTop" class="panel-collapse collapse in">
          <div class="panel-body">
          <!-- SUPPLEMENT TABLE --> 
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Supplement</th>
                  <th>Dose</th>
                  <th>Frequency</th>
                  <th></th>
                </tr>
              </thead>
              <tbody id="js-stack-supplements" data-update-url="<%= sort_stack_supplements_url %>">
              <!-- RENDER INDIVIDUAL STACK SUPPLEMENTS-->
                <%= render @stack_supplements %>
              </tbody>  
            </table>
            <!-- STACK PRIVACY -->
            <div class="privacy-for-stacks pull-left">
              <%= render partial: 'stack_supplements/stacks/form_privacy', locals: {stack: @stack}%>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--ACCORDIAN PANEL 1/MAIN BODY - DETAILS ABOUT STACK-->
    <div class="panel-group" id="accordion2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
          <%= render_arrow_collapse_for("#accordion2", "#collapseOne").html_safe %>
              Important Details about this Stack
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">
           <%= best_in_place @stack, :description, :classes => 'highlight_on_success', :type => :textarea %>
          </div>
        </div>
      </div>
      <!--ACCORDIAN PANEL 2/MAIN BODY - VIDEO LINKS-->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <%= render_arrow_collapse_for("#accordion2", "#collapseTwo").html_safe %>
              YouTube Links
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">
           <%= @stack.links %>
          </div>
        </div>
      </div>
      <!--ACCORDIAN PANEL 3/MAIN BODY - VIDEO LINKS-->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
           <%= render_arrow_collapse_for("#accordion2", "#collapseThree").html_safe %>
              Pictures
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
          <div class="panel-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
    </div>

