<h1><%= @stack.name %> Stack</h1>

<%= render partial: 'stack_supplements/form', locals: {stack: @stack, stack_supplement: StackSupplement.new }%>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Supplement</th>
      <th>Dose</th>
      <th>Frequency</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stack_supplements.each do |stack_supplement| %>
      <tr>
        <td><%= stack_supplement.supplement.name %></td>
        <td><%= stack_supplement.dose %></td>
        <td><%= stack_supplement.frequency.value %></td>

        <td><%= link_to 'Show', stack_stack_supplement_path(@stack, stack_supplement) %></td>
        <td><%= link_to 'Edit', edit_stack_stack_supplement_path(@stack, stack_supplement) %></td>
        <td><%= link_to 'Destroy', stack_stack_supplement_path(@stack, stack_supplement) , method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stack supplement', new_stack_stack_supplement_path(@stack) %>
