<h1>Listing stack_supplements</h1>

<table>
  <thead>
    <tr>
      <th>Stack</th>
      <th>Supplement</th>
      <th>Frequency</th>
      <th>Dose</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stack_supplements.each do |stack_supplement| %>
      <tr>
        <td><%= stack_supplement.stack %></td>
        <td><%= stack_supplement.supplement %></td>
        <td><%= stack_supplement.frequency %></td>
        <td><%= stack_supplement.dose %></td>
        <td><%= link_to 'Show', stack_stack_supplement_path(@stack, stack_supplement) %></td>
        <td><%= link_to 'Edit', edit_stack_stack_supplement_path(@stack, stack_supplement) %></td>
        <td><%= link_to 'Destroy', stack_stack_supplement_path(@stack, stack_supplement) , method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stack supplement', new_stack_stack_supplement_path(@stack) %>
