<p id="notice"><%= notice %></p>

<p>
  <strong>Stack:</strong>
  <%= @stack_supplement.stack.name %>
</p>

<p>
  <strong>Supplement:</strong>
  <%= @stack_supplement.supplement.name %>
</p>

<p>
  <strong>Frequency:</strong>
  <%= @stack_supplement.frequency.value %>
</p>

<p>
  <strong>Dose:</strong>
  <%= @stack_supplement.dose %>
</p>

<%= link_to 'Edit', edit_stack_stack_supplement_path(@stack, @stack_supplement) %> |
<%= link_to 'Back', stack_stack_supplements_path(@stack) %>
