<%= form_for(@supplement) do |f| %>
  <% if @supplement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@supplement.errors.count, "error") %> prohibited this supplement from being saved:</h2>

      <ul>
      <% @supplement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
 <div class="form-group">
    <%= f.label :tooltip %><br>
    <%= f.text_area :tooltip, rows: 10, class: 'form-control' %>
  </div>
<div class="form-group">
    <%= f.label :default_dose %><br>
    <%= f.text_field :default_dose, class: 'form-control' %>
  </div>
<div class="form-group">
    <%= f.label :default_frequency %><br>
    <%= f.text_field :default_frequency, class: 'form-control' %>
  </div>
<div class="form-group">
    <%= f.submit %>
  </div>
<% end %>
