

<div class="row">
  <div class="col-md-4 col-md-offset-4 dialog-box">
  <h1>Login</h1>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <%= devise_error_messages! %>
    </div>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: "Enter email" %>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control', placeholder: "Enter password" %>
      </div>
      <div class="form-group">
        <% if devise_mapping.rememberable? -%>
          <%= f.label :remember_me, class: 'checkbox' do %>
            <%= f.check_box :remember_me %> Remember me
          <% end %>
        <% end %>
        <%= f.submit "Login", class: 'btn btn-success' %>
      </div>
      <div class="form-group">
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>
</div>