   <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <%= render_arrow_collapse_for("#accordion", "#collapseOne").html_safe %>
            My Stack Manager
            <%= link_to " ", stacks_path, class: 'glyphicon glyphicon-th-list supplement-tip pull-right', data: { toggle: :tooltip, placement: :left}, title: 'Reload My Stacks Manager' %>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">
             <ul class="pager">
             <!-- List at the supplements in the default stack, where default = true -->
              <% @stack.supplements.each do |supplement| %>
                <li><%= link_to supplement.name, '#' %></li>
              <% end %>
             </ul>
             <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Name (Click to Edit) </th>
                    <th>Created</th>
                    <th>Supplments</th>
                    <th></th>
                    <th>Privacy</th>
                    <th>Default Stack</th>
                    <th></th>
                  </tr>
                </thead>

                <tbody>
                  <% @stacks.each do |stack| %>
                    <tr>
                      <td>
                        <a href="#" data-xeditable="true" data-pk="<%= stack.id %>" data-model="stack" data-name="name" data-url="<%= stack_path(stack)%>" data-title="Edit your stack name">
                        <%= stack.name %>
                        </a>
                      </td>
                      <td><%= time_ago_in_words(stack.created_at) %> ago</td>
                      <td><%= stack.supplements.count %></td>
          
                      <td>
                        <% if stack.public %>
                        <%= link_to " ", "#", class: 'glyphicon glyphicon-eye-open supplement-tip pull-right', data: { toggle: :tooltip, placement: :left}, title: 'This stack is public' %>
                        <% else %>
                          <%= link_to " ", "#", class: 'glyphicon glyphicon-lock supplement-tip pull-right', data: { toggle: :tooltip, placement: :left}, title: 'This stack is private' %>
                        <% end %>
                      </td>

                      <td>
                        <div class="pull-left">
                           <%= render partial: 'stack_supplements/stacks/form_privacy_manager', locals: {stack: stack}%>
                        </div>
                      </td>

                      <td> 
                        <!-- STACK DEFAULT -->
                         <% if stack.default? %>
                            <%= link_to " ", "#", class: 'glyphicon glyphicon-flag supplement-tip default-tag', data: { toggle: :tooltip, placement: :right}, title: 'Default stack' %>
                         <% else %>
                            <%= link_to "Make Default", default_stack_stack_path(stack), class: 'btn-sm btn-primary', :method => :put  %>
                         <% end %>
                      </td>

                      <td><%= link_to " ", stack, method: :delete, class: 'glyphicon glyphicon-remove-circle supplement-tip', remote: true, data: { confirm: 'Are you sure?' }, toggle: :tooltip, placement: :top, title: 'Delete Stack' %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <div class="panel-footer">
              <%= link_to 'Back to Main', stack_stack_supplements_path(@stack), class: 'btn btn-primary' %>
              </div>
          </div>
        </div>
      </div>

      <!-- ALL MY SUPPLEMENTS -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
              <%= render_arrow_collapse_for("#accordion", "#collapseTwo").html_safe %>
            All My Supplements
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">
            <ul class="pager">
              <li><%= render_supplements_for(@stacks).html_safe %></li> 
            </ul>
          </div>
           <div class="panel-footer">
          <%= link_to 'Back to Main', stack_stack_supplements_path(@stack), class: 'btn btn-primary' %>
        </div>
        </div>
        <!-- GO BACK BUTTON -->
       
      </div>
      <!--END OF SECOND PANEL IN ACCORDIAN -->

    </div>




