   <div class="panel-group" id="accordion2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <%= render_arrow_collapse_for("#acorrdian2", "#collapseOne").html_safe %>
            My Stack Manager
            <%= link_to " ", stacks_path, class: 'glyphicon glyphicon-th-list supplement-tip pull-right', data: { toggle: :tooltip, placement: :left}, title: 'Reload My Stacks Manager' %>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">
             <ul class="pager">
              <%= render_supplements_for(@stacks).html_safe %>      
             </ul>
             <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Name (Click to Edit) </th>
                    <th>Date Created</th>
                    <th>Supplment Count</th>
                    <th>Privacy</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>

                <tbody>
                  <% @stacks.each do |stack| %>
                    <tr>
                      <td>
                        <a href="#" data-xeditable="true" data-pk="<%= stack.id %>" data-model="stack" data-name="name" data-url="<%= stack_path(stack)%>" data-title="Edit your stack name">
                        <%= stack.name %>
                        </a>
                      </td>
                      <td><%= time_ago_in_words(stack.created_at) %> ago</td>
                      <td><%= stack.supplements.count %></td>
                      <td><%= render_privacy_for(stack.public).html_safe %></td>
                      <td><%= link_to 'View', stack_stack_supplements_path(stack), class: 'btn-sm btn-primary'%></td>
                      <td><%= link_to 'Delete', stack, class: 'btn-sm btn-danger', method: :delete, data: { confirm: 'Are you sure you want to permanently delete this stack?' } %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <div class="panel-footer">
              <%= link_to 'Back to Main', stack_stack_supplements_path(@stack), class: 'btn btn-primary' %>
              </div>
          </div>
        </div>
      </div>
     </div>



