<h1>Your stacks</h1>

<p>
  <% @stacks.each do |stack| %>
      <% if policy(stack).show? %>
        <%=link_to stack.name, stack_stack_supplements_path(stack) %> | 
      <% end %>
  <% end %>
</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <%if current_user %>
    <% @stacks.each do |stack| %>
      <tr>
        <td><%= stack.name %></td>
        <td><%= stack.user.name %></td>
        <td><%= link_to 'Show', stack %></td>
        <td><%= link_to 'Edit', edit_stack_path(stack) %></td>
        <td><%= link_to 'Destroy', stack, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stack', new_stack_path %>
