<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <a href="#" data-xeditable="true" data-pk="<%= @stack.id %>" data-model="stack" data-name="name" data-url="<%= stack_path(@stack) %>" data-title="Stack">
  <%= @stack.name %>
  </a>
</p>

<p>
  <strong>User:</strong>
  <%= @stack.user.name %>
</p>

<%= render partial: 'stacks/form', locals: {stack: @stack }%>


<% @stack.supplements.each do |supplement| %>
  <p> <%= supplement.name %></p>
<% end %>

<%= link_to 'Edit', edit_stack_path(@stack) %> |
<%= link_to 'Back', stacks_path %>
