<div class="row">
  <!--*******************************-->
  <!-- USER MAIN SIDE PANEL/NAVIGATION-->
   <!--*******************************-->
 <div class="col-md-4">
 <h2><%= @user.name %></h2>
  <!--ACCORDIAN PANEL 1 - MY STACKS -->
  <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseMyStacks">
              My Stacks
            </a>
          </h4>
        </div>
        <div id="collapseMyStacks" class="panel-collapse collapse in">
        <!--MY STACK MAIN BODY -->
          <div class="panel-body">
          <!-- Check to see if user has added any stacks -->
          <% unless @stacks.empty? %>
          <!-- NAVIGAION PILLS WITHIN MY STACK BODY -->
           <% @stacks.each do |stack| %>
             <ul class="nav nav-pills nav-stacked">
             <!-- check to see if the selected stack is the stack page the user is
                  currently on. If it is, then we want the tab to be active -->
              <% if stack == @stack  %>
               <!-- ACTIVE NAV PILL -->
                <li class="active">
                  <a href="#">
                  <!-- STACK SUPPLEMENT COUNT -->
                    <%= content_tag :span, class: "badge pull-right", id: "stack-count-#{stack.id}" do %>
                      <%= stack.supplements.count%>
                    <% end %>
                   <!-- STACK SUPPLEMENT NAME -->
                    <%= stack.name %>
                  </a>
                </li>     
              <% else %>
                <li>
                <!-- INACTIVE NAV PILL -->
                  <a href="<%="#{stack_stack_supplements_path(stack)}"%>">
                    <%= content_tag :span, class: "badge pull-right", id: "stack-count-#{stack.id}" do %>
                      <%= stack.supplements.count%>
                    <% end %>
                    <%= stack.name %>
                  </a>
                </li>
              <% end %>
             </ul>
            <% end %>
          <% end %> 
          </div>
        </div>
      </div>
      </div>
      <div class="panel-group" id="accordion#3">
        <!--ACCORDIAN PANEL 2 - CREATE A NEW STACK -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion3" href="#collapseNewStack">
                Posts
              </a>
            </h4>
          </div>
          <div id="collapseNewStack" class="panel-collapse collapse in">
            <div class="panel-body">
            <!-- NEW STACK FORM -->
             
            </div>
          </div>
        </div>

        <!--ACCORDIAN PANEL 2 - FOLLOWERS -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion3" href="#collapseNewStack">
                Followers
              </a>
            </h4>
          </div>
          <div id="collapseNewStack" class="panel-collapse collapse">
            <div class="panel-body">
             <p>John</p>
            </div>
          </div>
        </div>
      </div>
   </div>

  <!--*******************************-->
  <!-- MAIN BODY/ RIGHT COLUMN-->
  <!--*******************************-->
  <div class="col-md-8">

   <!--ACCORDIAN PANEL 1/MAIN BODY - DETAILS ABOUT STACK-->
  <div class="panel-group" id="accordion-top">
   <% num = 0 %>
   <!-- only show stacks that are made public -->
   <% @stacks.visible_to.each do |stack| %>
  <!-- check to see if stack has any supplements in it -->
    <% unless stack.stack_supplements.empty? %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion-top" href="#collapseTop-<%= stack.id %>">
             <%= stack.name %>
            </a>
          </h4>
        </div>
        <% if num == 0 %>
          <div id="collapseTop-<%= stack.id %>" class="panel-collapse collapse in ">
        <% else %>
          <div id="collapseTop-<%= stack.id %>" class="panel-collapse collapse">
        <% end %>
        <% num += 1 %>
          <div class="panel-body">
          <!-- SUPPLEMENT TABLE --> 
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Supplement</th>
                  <th>Dose</th>
                  <th>Frequency</th>
                </tr>
              </thead>
              <tbody>
              <!-- SHOW STACK SUPPLEMENTS -->
               <% stack.stack_supplements.each do |stack_supplement| %>
                  <%= render partial: 'user_stack_supplements', locals: { stack: stack, stack_supplement: stack_supplement } %>
               <% end %>
              </tbody>  
            </table>
          </div>
        </div>
       </div>
     <% end %>
    <% end %>
  </div>
    <!--ACCORDIAN PANEL 1/MAIN BODY - DETAILS ABOUT STACK-->
    <div class="panel-group" id="accordion2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
              Important Details about this Stack
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">
           <!--ENTER SOMETHING HERE -->
          </div>
        </div>
      </div>
      <!--ACCORDIAN PANEL 2/MAIN BODY - VIDEO LINKS-->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
              YouTube Links
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">
           <!--ENTER SOMETHING HERE -->
          </div>
        </div>
      </div>
      <!--ACCORDIAN PANEL 3/MAIN BODY - VIDEO LINKS-->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
              Pictures
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
          <div class="panel-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
