<div class="row">
  <!--*******************************-->
  <!-- USER MAIN SIDE PANEL/NAVIGATION-->
  <!--*******************************-->
 <div class="col-md-3">
 <!-- if the user is the current_user, let his profile image link to his settings page -->
     <% if current_user == @user %>
        <%= link_to render_profile_avatar_for(@user), edit_user_registration_path %>
     <% else %>
        <%= render_profile_avatar_for(@user) %>
     <% end %>
     <div class="page-header squashed-header">
        <h3><strong><%= @user.name %></strong></h3>
        <%= render partial: 'users/follow_form' if signed_in? %>
     </div>
     <!-- Location Info/ Joined Info-->
     <div class="page-header squashed-header">
        <h5>
          <%= link_to " ", "#", class: 'glyphicon glyphicon-map-marker supplement-tip', data: { toggle: :tooltip, placement: :top }, title: @user.location %>
          <%= @user.location %>
        </h5>
        <h5>
           <%= link_to " ", "#", class: 'glyphicon glyphicon-time supplement-tip', data: { toggle: :tooltip, placement: :bottom }, title: "#{time_ago_in_words(@user.created_at)} ago" %>
           <%= @user.created_at.strftime("Joined on %B %d, %Y") %>
        </h5>
     </div>
      <!--ACCORDIAN PANEL 1 - FOLLOWERS -->
      <div class="panel-group" id="accordionFollow">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
               <%= render_arrow_collapse_for("#accordionFollow", "#collapseFollowStack").html_safe %>
                <span id="followers"><%= link_to "Followers (#{@user.followers.count})", followers_user_path(@user) %></span>
            </h4>
          </div>
          <div id="collapseFollowStack" class="panel-collapse collapse in">
            <div class="panel-body">
               <%= render 'shared/followers' %>
            </div>
          </div>
        </div>
      </div>

        <!--ACCORDIAN PANEL 2 - FOLLOWING -->
      <div class="panel-group" id="accordionFollowing">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <%= render_arrow_collapse_for("#accordionFollowing", "#collapseNewStack1").html_safe %>
                <span id="following"><%= link_to "Following (#{@user.followed_users.count})", following_user_path(@user) %></span>
            </h4>
          </div>
          <div id="collapseNewStack1" class="panel-collapse collapse in">
            <div class="panel-body">
              <%= render 'shared/following' %>
            </div>
          </div>
        </div>
      </div>

      <!--ACCORDIAN PANEL 1 - ABOUT-->
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
               <%= render_arrow_collapse_for("#accordion", "#collapseMyStacks").html_safe %>
                About
            </h4>
          </div>
          <div id="collapseMyStacks" class="panel-collapse collapse in">
          <!--MY STACK MAIN BODY -->
            <div class="panel-body">
             
            </div>
          </div>
        </div>
      </div>
   </div>

  <!--*******************************-->
  <!-- MAIN BODY/ RIGHT COLUMN-->
  <!--*******************************-->
    <div class="col-md-9">

      <!--TAB 1 -->
      <!-- Nav tabs -->
      <ul class="nav nav-tabs user-nav-tabs">
        <li class="active">
          <%= link_to " Stacks", "#stacks", class: 'glyphicon glyphicon-th-list', data: { toggle: :tab } %>
        </li>
        <li>
          <%= link_to " Activity", "#activity", class: 'glyphicon glyphicon-fire', data: { toggle: :tab } %>
        </li>
        <li>
          <%= link_to " Pictures", "#pictures", class: 'glyphicon glyphicon-picture', data: { toggle: :tab } %>
        </li>
        <li>
          <%= link_to " Video", "#video", class: 'glyphicon glyphicon-film', data: { toggle: :tab } %>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane fade in active" id="stacks">
        <!--CONTENT FOR TAB 1 -->
        <!--ACCORDIAN PANEL 1/MAIN BODY - DETAILS ABOUT STACK-->
        <div class="panel-group" id="accordion-top">
          <% check = 0 %>
          <!-- DEFAULT STACK FIRST -->
          <!-- only show stacks that are made public -->
          <% @stacks.visible_to.active.each do |stack| %>
          <!-- check to see if stack has any supplements in it -->
            <% unless stack.stack_supplements.empty? %>
             <% check += 1 %>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                  <!-- ARROW COLLAPSE -->
                  <%= render_arrow_collapse_for("#accordion-top", "#collapseTop-#{stack.id}").html_safe %>
                    <%= stack.name %>
                    <!--DOUBLE CHECK TO MAKE SURE THIS IS THE DEFAULT USER STACK -->
                    <!--IF IT IS, FLAG IT -->
                    <% if stack.default? %>
                      <%= link_to " ", "#", class: 'glyphicon glyphicon-flag supplement-tip default-tag pull-right', data: { toggle: :tooltip, placement: :left}, title: 'User default stack' %>
                    <% end %>
                  </h4>
                </div>
                <div id="collapseTop-<%= stack.id %>" class="panel-collapse collapse in ">
                  <div class="panel-body">
                  <!-- SUPPLEMENT TABLE --> 
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Supplement</th>
                          <th>Dose</th>
                          <th>Frequency</th>
                        </tr>
                      </thead>
                      <tbody>
                      <!-- SHOW STACK SUPPLEMENTS -->
                       <% stack.stack_supplements.each do |stack_supplement| %>
                          <%= render partial: 'user_stack_supplements', locals: { stack: stack, stack_supplement: stack_supplement } %>
                       <% end %>
                      </tbody>  
                    </table>
                  </div>
                </div>
               </div>
            <% end %>
          <% end %>

          <!-- NON-DEFAULT STACKS -->
          <!-- only show stacks that are made public -->
          <% @stacks.visible_to.inactive.each do |stack| %>
          <!-- check to see if stack has any supplements in it -->
            <% unless stack.stack_supplements.empty? %>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                  <!-- ARROW COLLAPSE -->
                  <%= render_arrow_collapse_for("#accordion-top", "#collapseTop-#{stack.id}").html_safe %>
                    <%= stack.name %>
                  </h4>
                </div>
                <% if check == 0 %>
                  <div id="collapseTop-<%= stack.id %>" class="panel-collapse collapse in">
                  <% check += 1 %>
                <% else %>
                  <div id="collapseTop-<%= stack.id %>" class="panel-collapse collapse">
                <% end %>
                  <div class="panel-body">
                  <!-- SUPPLEMENT TABLE --> 
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Supplement</th>
                          <th>Dose</th>
                          <th>Frequency</th>
                        </tr>
                      </thead>
                      <tbody>
                      <!-- SHOW STACK SUPPLEMENTS -->
                       <% stack.stack_supplements.each do |stack_supplement| %>
                          <%= render partial: 'user_stack_supplements', locals: { stack: stack, stack_supplement: stack_supplement } %>
                       <% end %>
                      </tbody>  
                    </table>
                  </div>
                </div>
               </div>
            <% end %>
          <% end %>
        </div>
        <!--END OF TAB 1 -->
      </div> 

      <!--ACTIVITY FEED TAB -->
      <div class="tab-pane fade" id="activity">
        <div class="panel-group" id="accordion-active">
        <!--ACCORDIAN PANEL 2/MAIN BODY - VIDEO LINKS-->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <%= render_arrow_collapse_for("#accordion-active", "#collapseActive").html_safe %>
                Latest Activity
            </h4>
          </div>
          <div id="collapseActive" class="panel-collapse collapse in">
            <div class="panel-body">
              <div class="user-activity-panel">
                <%= render partial: 'activity_feed' %>
              </div>
            </div>
          </div>
          </div>
        </div>
     </div>


      <!--END OF ACTIVITY FEED-->
      
      <div class="tab-pane fade" id="pictures">
      <!-- CONTENT FOR TAB 2 -->
      <div class="panel-group" id="accordion2">
      <!--ACCORDIAN PANEL 1/MAIN BODY - IMAGES-->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <%= render_arrow_collapse_for("#accordion2", "#collapseThree").html_safe %>
              Pictures
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse in">
          <div class="panel-body">
               <div class="row">
               <% if @user.user_attachments.present? %>
                <% @user.user_attachments.each do |attachment| %>
                  <div class="col-xs-6 col-md-3">
                     <%= image_tag(attachment.image.url, class: 'user-profile-images img-responsive img-rounded').html_safe %>
                  </div>
                 <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>  
      <!--END OF TAB 2-->
      </div>
      
      <div class="tab-pane fade" id="video">
      <!-- CONTENT FOR TAB 3 -->
      <!--ACCORDIAN PANEL 3/MAIN BODY - VIDEO LINKS-->
      <div class="panel-group" id="accordion4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <%= render_arrow_collapse_for("#accordion4", "#collapseTwo").html_safe %>
                User Videos
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse in">
            <div class="panel-body">
             <!--ENTER SOMETHING HERE -->
            </div>
          </div>
        </div>
       </div>  
      <!--END OF TAB 3-->
      </div>
    </div>
  </div>
</div>
