<div class="row">
  <!--*******************************-->
  <!-- USER MAIN SIDE PANEL/NAVIGATION-->
  <!--*******************************-->
 <div class="col-md-3">
 <!-- if the user is the current_user, let his profile image link to his settings page -->
   <% if current_user == @user %>
      <%= link_to render_profile_avatar_for(@user), edit_user_registration_path %>
   <% else %>
      <%= render_profile_avatar_for(@user) %>
   <% end %>
   <div class="page-header squashed-header">
      <h3><strong><%= @user.name %></strong></h3>
      <%= render partial: 'users/follow_form' if signed_in? %>
   </div>
   <!-- Location Info/ Joined Info-->
   <div class="page-header squashed-header">
      <!--SHORTBIO-->
      <% if @user.shortbio? %>
        <h5>
        <%= link_to "  ", "#", class: 'glyphicon glyphicon-book' %> 
        <strong><%= @user.shortbio %></strong>
        </h5>
      <% end %>
      <!--WEBSITE URL -->
      <% if @user.url? %>
        <h5>
        <%= link_to "  ", "#", class: 'glyphicon glyphicon-globe' %> 
        <strong><%= link_to strip_url(@user.url), "http://#{@user.url}" %></strong>
        </h5>
      <% end %>  
      <% if @user.shortbio? || @user.url? %>
        <hr>
      <% end %>
      <h5>
        <%= link_to " ", "#", class: 'glyphicon glyphicon-map-marker supplement-tip', data: { toggle: :tooltip, placement: :top }, title: @user.location %>
        <%= @user.location %>
      </h5>
      <h5>
         <%= link_to " ", "#", class: 'glyphicon glyphicon-time supplement-tip', data: { toggle: :tooltip, placement: :bottom }, title: "#{time_ago_in_words(@user.created_at)} ago" %>
         <%= @user.created_at.strftime("Joined on %B %d, %Y") %>
      </h5>
   </div>

  
     <!--ACCORDIAN PANEL 1 - FOLLOWERS -->
      <div class="panel-group" id="accordionFollow">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
               <%= render_arrow_collapse_for("#accordionFollow", "#collapseFollowStack").html_safe %>
                <span id="followers"><%= link_to "Followers (#{@user.followers.count})", followers_user_path(@user) %></span>
            </h4>
          </div>
          <div id="collapseFollowStack" class="panel-collapse collapse in">
            <div class="panel-body">
               <%= render partial: 'shared/followers', locals: { followers: @followers } %>
            </div>
          </div>
        </div>
      </div>

        <!--ACCORDIAN PANEL 2 - FOLLOWING -->
      <div class="panel-group" id="accordionFollowing">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <%= render_arrow_collapse_for("#accordionFollowing", "#collapseNewStack1").html_safe %>
                <span id="following"><%= link_to "Following (#{@user.followed_users.count})", following_user_path(@user) %></span>
            </h4>
          </div>
          <div id="collapseNewStack1" class="panel-collapse collapse in">
            <div class="panel-body">
               <%= render partial: 'shared/following', locals: { following: @following } %>

            </div>
          </div>
        </div>
      </div>

      <!--ACCORDIAN PANEL 1 - ABOUT-->
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
               <%= render_arrow_collapse_for("#accordion", "#collapseMyStacks").html_safe %>
                About
            </h4>
          </div>
          <div id="collapseMyStacks" class="panel-collapse collapse in">
          <!--MY STACK MAIN BODY -->
            <div class="panel-body">
             
            </div>
          </div>
        </div>
      </div>
   </div>

  <!--*******************************-->
  <!-- MAIN BODY/ RIGHT COLUMN-->
  <!--*******************************-->
  <div class="col-md-9">
    <h1 class="page-header follower-count"><strong><%= @users.count %> <%= @title %></strong></h1>
    <% if @users.any? %>
      <% @users.each do |user| %>
        <div class="col-xs-6 col-md-3 pull-left user-profile-images" id="avatars-for-followers">
          <p><strong>
            <%= link_to user.name, user_path(user) %>
          </strong></p>
          <p>
            <%= link_to render_profile_avatar_for(user).html_safe, user_path(user) %>
          </p>
          <!-- FOLLOW BUTTON FOR USERS --> 
          <%= render partial: 'users/user_follow_form', locals: { user: user } %>
        </div> 
      <% end %>
    <% end %>   
  </div>
</div>
