<div class="panel panel-default">
  <div class="panel-body">
   <%= content_tag :div, class: 'media', id: "answer-#{answer.id}" do %>
      <a class="pull-left" href="#">
      <!--VOTE COUNT FOR ANSWER -->
        <%= render partial: 'answer_votes/voter', locals: { question: @question, answer: answer } %>
      </a>

      <div class="media-body">
         <!-- USER AVATAR + INFO -->
         <%= render partial: 'answers/answer_partials/user_avatar_info', locals: { answer: answer } %>
        <!-- END USER AVATAR -->
       
        <!-- VOTERS NAME -->
         <%= render partial: 'answers/answer_partials/voter_names', locals: { answer: answer } %>
        <!-- END VOTER NAMES -->

        <!--ANSWER BODY -->
         <%= render partial: 'answers/answer_partials/answer_body', locals: { question: @question, answer: answer } %>
        <!-- END ANSWER BODY -->
        
        <!--DATE ANSWER WAS CREATED-->
        <%= render partial: 'answers/answer_partials/creation_date', locals: { question: @question, answer: answer } %>
        <!--END DATE CREATED -->
      </div>
   <% end %>
  </div>
  <!--FOOTER-->
  <div class="panel-footer">
      <!--USER STACKS -->
      <div>
        <%= render partial: 'answers/answer_partials/answer_user_stacks', locals: { answer: answer } %>       
      </div>
      <!-- END USER STACK -->
  </div>
  <!--END FOOTER-->
</div>