<!-- add remote: true to enable Ajax on the form -->
<%= form_for [question, answer], remote: true do |f| %>
<% if answer.errors.any? %>
    <div class="alert alert-danger">
      <h4>There are <%= pluralize(answer.errors.count, "error") %>.</h4>
      <ul>
        <% answer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<!-- DETERMINE PLAEHOlDER TEXT BASED UPON NUMBER OF FOLLOWERS -->

    <% if question.answers.empty? %>
      <% answer_placeholder = "Add your answer" %>
    <% end %>         

  <%= form_group_tag(answer.errors[:body]) do %>
    <%= f.text_area :body, id: 'answer-textarea', editor_options: { color: false, font_styles: false, image: false }, rows: 6, cols: 40, class: 'wysihtml5 form-control', placeholder: "#{answer_placeholder}" %>
  <% end %>

  <div class="form-group">
    <%= f.submit "Add Answer", class: 'btn btn-primary' %>
  </div>
<% end %>