<% if @answer.destroyed? %>
$('#answer-' +<%= @answer.id %>).fadeOut( "slow", function() {});
$('.js-answers-count').html("<%= @question.answers.count %> Answers");
$('#js-answers-count-' +<%= @question.id %>).html("<%= @question.answers.count %> Answers");
//update text-editor
<% else %>
$('#answer-' +<%= @answer.id %>).prepend("<div class='alert alert-error'><%= flash[:error] %></div>");
<% end %>
$('.new_answer').html("<%= escape_javascript(render partial: 'answers/answers_form', locals: { question: @question, answer: @new_answer }) %>");
$('.answer-textarea').wysihtml5({
    "font-styles": false, //Font styling, e.g. h1, h2, etc. Default true
    "emphasis": true, //Italics, bold, etc. Default true
    "lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
    "html": false, //Button which allows you to edit the generated HTML. Default false
    "link": true, //Button to insert a link. Default true
    "image": false, //Button to insert an image. Default true,
    "color": false, //Button to change color of font
    "size": 'md', //Button size like sm, xs etc.
});
