<% if @answer.destroyed? %>
$('#answer-' +<%= @answer.id %>).fadeOut( "slow", function() {});
$('.js-answers-count').html("<%= @question.answers.count %> Answers");
$('#js-answers-count-' +<%= @question.id %>).html("<%= @question.answers.count %> Answers");
$('#js-summary-answers-count').html("<%= current_user.answers.count %>");
//update text-editor
<% else %>
$('#answer-' +<%= @answer.id %>).prepend("<div class='alert alert-error'><%= flash[:error] %></div>");
<% end %>
$('.new_answer').html("<%= escape_javascript(render partial: 'answers/answers_form', locals: { question: @question, answer: @new_answer }) %>");
$('.user-popover-with-html').popover({ html : true });

