<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_attachment.user_id %>
</p>

<p>
  <strong>Image:</strong>
  <%= @user_attachment.image %>
</p>

<%= link_to 'Edit', edit_user_attachment_path(@user_attachment) %> |
<%= link_to 'Back', user_attachments_path %>
