<!DOCTYPE html>
<html>
<head>
  <title>StakIt</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
 <body>
    <nav class="navbar navbar-default header-logged-in" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
         <% if current_user %>
            <%= link_to "", stack_stack_supplements_path(current_user.stacks.where(default: true).first), class: 'navbar-brand glyphicon glyphicon-tasks' %>
         <% else %> 
            <%= link_to "", '#', class: 'navbar-brand glyphicon glyphicon-tasks' %>
         <% end %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <% if current_user %>
          <ul class="nav navbar-nav">
           <div class="navbar-form navbar-left" role="search">
               <%= render partial: 'questions/questions_search' %>
           </div>
          
            <li><%= link_to "My Dashboard", stack_stack_supplements_path(current_user.stacks.where(default: true).first) %></li> 
            <li><%= link_to "Stack Manager", stacks_path %></li>
         
            <li><%= link_to "Activity Feed", activities_path %></li>
          </ul>
        <% end %>


          
          <ul class="nav navbar-nav navbar-right">
             <% if current_user %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                 <span><%= render_tiny_avatar_for(current_user) %></span>
                 <strong><em><%= (current_user.name || current_user.email )%></em></strong> ! <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Settings", edit_user_registration_path %></li>
                  <li><%= link_to "Logout", destroy_user_session_path, method: :delete %>
                  </li>
                </ul>
              </li>
              <% else %>
              <li><%= link_to "Login", new_user_session_path %></li>
              <li class="active"><%= link_to "Register", new_user_registration_path %></li>
            <% end %>
          </ul>
             
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
    
      <% if flash[:notice] %>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:notice] %>
        </div>
      <% elsif flash[:error] %>
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:error] %>
        </div>
      <% elsif flash[:alert] %>
        <div class="alert">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:alert] %>
        </div>
      <% end %>
    
        <%= yield %>

    </div>
  </body>
</html>
